body {
    background-image: url("../images/world.png");
    background-size: 80% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

.quiz_area {
    height: 500px;
    width: 500px;
    align-items: center;
}


h1 {
    text-align:center;
    color: #434d54;
    font-family: sans-serif;
}

.cards {
    margin:auto;
    height: 297px;
    width: 297px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #f9efe5;
    color: #AAA;
    border-radius: 10%;
    height: 95px;
    width: 95px;
    flex-grow: 1;
    margin: 2px;

    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    color: #ff7000;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10%;
}

.front {
    background: #f9efe5;
    color: #ff7000;
    height: 100%;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background-color: #ff7000;
    color: #ffffff;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card {
   transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}

.question {
    color: #ff7000;
    font-family: sans-serif;
    height: 100%
}

.cards_row {
    display: flex;
    flex-direction: row;
}
.question {
    text-align: center;
}
